/*
================================================
/* Table of Content
================================================
1. General styles
2. Home Page
    2.1 Header styles
    2.2 Carousel
    2.3 Login / Signup
    2.4 Introductory section
    2.5 Candidates
    2.6 offices
    2.7 parties
    2.8 Footer styles
3. Dashboard Area General Styles
4. Dashboard Profile page
5. Dashboard Candidates page
6. Dashboard manage candidates page


dashboard
n. Front Footer styles

/*
================================================
1. General Styles
================================================
*/

@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    width: 100%;
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    font-family: "Poppins", sans-serif;
    background: #f1f1f1;
    color: #777;
    font-size: 14px;
    overflow-x: hidden;
    position: relative;
}
article,
aside,
footer,
header,
nav,
section {
    display: block;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
img {
    border-style: none;
}
button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
textarea {
    overflow: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    margin-top: 0;
    text-transform: none;
}
h1{
    font-size:40px;
}
h2{
    font-size:35px;
}
h3{
    font-size:24px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
h6{
    font-size:16px;
}
p{
    font-size:13px;
}
ul,li{
    list-style:none;
    padding:0;
    margin:0;
}
a, a:hover, a:active, a:focus {
    outline: none;
    border: none;
    text-decoration:none;
}
a {
    color:#333;
    transition: all 0.3s ease 0s;
}
a:focus, a:hover {
    color:#003471;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.wrap {
    position: relative;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/*---- grid ----*/

.grid {
    display: grid;
    gap: 20px;
}
.grid.one-col {
    grid-template-columns: 1fr; /* 3 columns grid system*/
    gap: 25px;
}
.grid.two-col {
    grid-template-columns: 1fr 1fr ; /* 3 columns grid system*/
    gap: 25px;
}
.grid.three-col {
    grid-template-columns: 1fr 1fr 1fr ; /* 3 columns grid system*/
    gap: 25px;
}
@media (min-width: 1366px) {
    .grid {
        grid-template-columns: auto auto auto auto; /*4 columns grid system*/
    }
    .grid > div {
        height: 300px;
    }
}
@media (min-width: 1024px) and (max-width: 1366px) {
    .grid {
        grid-template-columns: auto auto auto auto; /*4 columns grid system*/
    }
    .grid > div {
        height: 250px;
    }
}
@media (min-width: 960px) and (max-width: 1024px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr; /*4 columns grid system*/
        /*grid-template-columns: auto auto auto; */
    }
    .grid > div {
        height: 200px;
    }
}
@media (min-width: 860px) and (max-width: 960px) {
    .grid {
        grid-template-columns: auto auto auto auto; /*4 columns grid system*/
    }
    .grid > div {
        height: 170px;
    }
}
@media (min-width: 768px) and (max-width: 860px) {
    .grid {
        grid-template-columns: auto auto auto; /*3 columns grid system*/
    }
    .grid > div {
        height: 150px;
    }
    .grid.three-col {
        grid-template-columns: auto auto; /* 2 columns grid system*/
    }
}
@media (min-width: 550px) and (max-width: 768px) {
    .grid {
        grid-template-columns: auto auto auto ; /*3 columns grid system*/
    }
    .grid > div {
        height: 150px;
    }
    .grid.three-col {
        grid-template-columns: auto auto; /* 2 columns grid system*/
    }
}
@media (min-width: 350px) and (max-width: 550px) {
    .grid {
        grid-template-columns: auto auto; /*2 columns grid system*/
    }
    .grid > div {
        height: 150px;
    }
    .grid.three-col {
        grid-template-columns: auto auto; /* 2 columns grid system*/
    }
}
@media (max-width: 350px) {
    .grid {
        grid-template-columns: auto auto; /*2 columns grid system*/
    }
    .grid > div {
        height: 150px;
    }
    .grid.three-col {
        grid-template-columns: auto auto; /* 2 columns grid system*/
    }
}

/*
================================================
2. Home Page
================================================
*/

/*
---------------------------
2.0 general Styles
---------------------------
*/
.section-title {
    padding: 0 0 40px 0;
}
.section-title p{
    font-size: 16px;
}
.more {
    text-align: center;
    padding: 40px 0 0 0;
}
a.btn {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #003471;
    transition: all .3s ease;
    cursor: pointer;
    color: #003471;
    font-size: 28px;
    text-align: center;
}
a.btn:hover {
    box-shadow: 1px 1px 15px 5px rgba(0,0,0,.5);
}
/*
---------------------------
2.1 Header Styles
---------------------------
*/
header.front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100vh; */
    z-index: 99;
}

/*---- top header ----*/

header.front .top-header .inner{
    position: relative;
    height: 100vh;
    width: 100%;
    align-items: center;
}
header.front .top-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background: rgba(0,52,103,.5);
}
header.front .top-header ul {
    display: flex;
    justify-content: flex-end;
}
header.front .top-header ul a{
    font-size: 18px;
    padding: 10px;
    color: #ddd;
    cursor: pointer;
}
.log-in-link {
    border-right: 1px solid #ddd;
}

/*---- bottom header ----*/

header.front .bottom-header {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid rgba(0,52,103,.9);
    background: rgba(0,52,103,.5);
}
header.front .bottom-header .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header.front .bottom-header  .logo h2{
    border: 2px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    color: #ddd;
}
header.front .bottom-header ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    margin-bottom: 70px;
    background: rgba(0,52,103,.95);
    max-width: 0;
    overflow: hidden;
    transition: all 2s ease;
}
header.front .bottom-header ul.show {
    max-width: 200px;
}
header.front .bottom-header ul a{
    padding: 10px;
    color: #dddddd;
    text-align: right;
    font-size: 16px;
}
header.front .bottom-header ul li{
    text-align: right;
    padding: 10px 15px;
}
header.front .bottom-header .box {
    height: 35px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #dddddd;
    padding: 5px;
    cursor: pointer;
}
header.front .bottom-header .box div{
    height: 3px;
    width: 100%;
    background: #dddddd;
}

/*---- bottom header - large screens ----*/

@media (min-width: 768px) {
    header.front .bottom-header ul {
        max-width: unset;
        flex-direction: row;
        margin-bottom: 5px;
        background: transparent;
    }
    header.front .bottom-header .box {
        display: none;
    }
}


/*
-----------------------
2.2. Carousel
-----------------------
*/
.main-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.carousel {
    height: 100vh;
}
.inner-carousel {
    height: 100%;
}
.bg-one {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.9)),url("images/ballot-vote.jpg") fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 99999;
    text-align: center;
}
.bg-one h2 {
    font-size: 65px;
    border-bottom: 1px solid #fff;
    padding: 0 0 15px 0;
}
.bg-one p {
    padding: 15px 0 25px 0;
    font-size: 30px;
    color: #fff;
}
@media (max-width: 768px) {
    .bg-one h2 {
        font-size: 40px;
    }
    .bg-one p {
        font-size: 20px;
    }
}
a.btn3 {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    transition: all .3s ease;
    cursor: pointer;
    color: #fff;
    font-size: 28px;
    text-align: center;
}


/*
-----------------------
2.3 Login / Sign up
-----------------------
*/
.modal-box {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    z-index: 304;
    display: none;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    padding: 50px;
}
.modal-box::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    height: 100vh;
    background: rgba(0,0,0,.8);
}
.mdb-content {
    width: 100%;
    height: auto;
    background: rgba(255,255,255,.8);
    position: relative;
    padding: 30px;
    border-radius: 10px;
}
@media (min-width: 600px) {
    .mdb-content {
        width: 40%;
        padding: 50px;
        border-radius: 10px;
    }
}

.modal-box.login.show {
    display: flex;
}
.modal-box.signup.show {
    display: flex;
}
/*---- forms  ----*/

.mdb-content {
    color: #003471;
}
.mdb-content h2 {
    margin-bottom: 50px;
    text-align: center;
    border-bottom: 1px solid #003471;
}
.close-button {
    float: right;
    cursor: pointer;
    font-size: 60px;
    text-shadow: white 1px 1px 15px;
    line-height: 1.5rem;
    width: 1.5rem;
    border-radius: 5px;
    padding: 15px;
    margin: -55px -58px 0 0;
    transition: all .5s ease;
}
.close-button:hover {
    font-size: 100px;
    margin: -55px -29px 0 0;
}
@media (min-width: 600px) {
    .close-button {
        margin: -75px -50px 0 0;
    }
    .close-button:hover {
        font-size: 100px;
        margin: -79px -88px 0 0;
    }
}
form {
    width: 100% ;
}
form .extra-info {
    margin: 20px 0 0 0;
}
form .extra-info p {
    
    margin-bottom: 5px;
}
form .extra-info p a {
    color: #003471;
    font-weight: bold;
}
input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 50px 0 0 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
form .one {
    max-height: 0;
    overflow: hidden;
    transition: all 1s ease;
}
form .one.show {
    max-height: 500px;
}
form .two {
    max-height: 0;
    overflow: hidden;
}
form .two.show {
    max-height: 500px;
}
.form-buttons {
    display: flex;
    justify-content: space-between;
}
.form-btn {
    flex-grow: 1;
    margin: 20px 20px 0;
}


input[type=submit]:hover {
    background-color: #45a049;
}

/*
---------------------------
2.4 Introductory section
---------------------------
*/
.intro {

}
blockquote {
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    font-size: 40px;
    font-style: italic;
    /*quotes: "\201C""\201D""\2018""\2019";*/
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}



/*
---------------------------
2.5 Candidates
---------------------------
*/
.candidates > div, .offices > div, .intro > div, .parties > div  {
    padding: 50px 0;
    border-bottom: 1px solid #003471;
}

/*
---------------------------
2.6 Offices
---------------------------
*/
.offices {
    background: #fcfcfc;
}


/*
---------------------------
2.7 vote
---------------------------
*/
.vote {
    padding: 100px 0;
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("images/slider_bg.jpg")fixed center center;
    background-size: cover;
}
.vote blockquote {
    color: #ddd;
}
.vote a.btn {
    border: 1px solid #ddd;
    padding: 20px;
    font-size: 20px;
    color: #ddd;
}
/*
---------------------------
2.7 Political parties
---------------------------
*/
.parties {
}


/*
---------------------------
2.8 Footer styles
---------------------------
*/

footer {
    padding: 10px 0;
    text-align: center;
    width: 100%;
    background: #003471;
    color: #ddd;
}
footer.back {
    background: #23282d;
}

/*
================================================
3. Dashboard Area General Styles
================================================
*/

.dashboard-container {
    display: grid;
    height: 100vh;
    grid-template-areas:
            "top-bar top-bar"
            "side-bar main-body"
            "side-bar footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: 40px 1fr 30px;
    transition: all 1s ease;
}

/*top bar*/

.top-bar {
    grid-area: top-bar;
    background-color: #394263;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 50%;
    border-bottom: 1px solid #ddd;
    color: #ddd;
}
.top-bar-title {

}
.top-bar .side-links a {
    color: #ddd;
    font-size: 16px;
}
.top-bar-user-icon {
    width: 20px;
}
.main-header {
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 150px; /* temporary value */
    background-color: #e3e4e6;
    color: slategray;
}

/*side bar*/

.side-bar {
    display: flex;
    flex-direction: column;
    grid-area: side-bar;
    background-color: #394263;
    justify-content: space-between;
    width: 40px;
    transition: all .5s ease;
    overflow: hidden;
}
.side-bar:hover {
    width: 200px;
    transition: all .5s ease;
}
@media (min-width: 768px) {
    .side-bar {
        width: 240px;
        transition: all .5s ease;
    }
}
.side-bar ul {
    padding: 0;
}
.side-bar ul li {
    padding: 20px 20px 20px 40px;
    margin: 10px 0;
    transition: all .3s ease;
}
.side-bar ul li a {
    padding: 20px 0;
    color: #ddd;
}
.side-bar ul li:hover {
    color: #ddd;
    background: rgba(0,0,0,.2);
    border-left: 5px solid #191f32;
}

/*main body*/

.dashboard-main-body {
    grid-area: main-body;
    background-color: #f1f1f1;
    padding: 20px 20px 0 20px;
}
.dashboard-main-body {
    overflow-y: scroll;
}
.main-header {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #e3e4e6;
    color: slategray;
}
.dashboard-main-body > div {
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    margin-bottom: 20px;
}
.btn.sec {
    border: 1px solid #fff;
    color: #fff;
    z-index: 9;
    margin-top: 10px;
    visibility: hidden;
    font-size: 20px;
    transition: all 2s ease;
}
/*footer*/
.footer {
    display: flex;
    grid-area: footer;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}

/*
================================================
4. Dashboard Profile page
================================================
*/
.top-section-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-container .user-info {
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    padding: 10px;
    transition: all .3s ease;
}
.user-container .voting-info {
    padding: 10px;
    height: auto;
}
.user-container > div p {
    font-size: 18px;
    font-weight: bold;
    color: #003471;
    padding: 10px 0;
}
.user-container p.sub-info {
    border-bottom: 1px solid #003471;
}
/*
================================================
5. Dashboard Candidates page
================================================
*/

.top-section-candidates {
    display: flex;
    justify-content: center;
    align-items: center;
}
.candidates-container > div {
    display: flex;
    align-items: flex-end;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    cursor: pointer;
    padding: 10px;
    transition: all .3s ease;
}
.candidates-container > div p {
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
.candidates-container > div:hover {
    box-shadow: 1px 5px 15px rgba(0,0,0,.5);
    margin-top: -5px;
}

.candidates-container .one {
    background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.95) 80%), url("images/candidates/01.jpg") center center;
    background-size: cover;
}
.candidates-container .two {
    background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.95) 80%), url("images/candidates/02.jpg") center center;
    background-size: cover;
}
.candidates-container .three {
    background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.95) 80%), url("images/candidates/03.jpg") center center;
    background-size: cover;
}
.candidates-container .four {
    background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.95) 80%), url("images/candidates/04.jpg") center center;
    background-size: cover;
}
.candidates-container .five {
    background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.95) 80%), url("images/candidates/05.jpg") center center;
    background-size: cover;
}
.candidates-container .six {
    background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.95) 80%), url("images/candidates/06.jpg") center center;
    background-size: cover;
}
.candidates-container .seven {
    background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.95) 80%), url("images/candidates/07.jpg") center center;
    background-size: cover;
}
.candidates-container .eight {
    background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.95) 80%), url("images/candidates/08.jpg") center center;
    background-size: cover;
}
.candidates-container .nine {
    background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.95) 80%), url("images/candidates/09.jpg") center center;
    background-size: cover;
}
.candidates-container .ten {
    background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.95) 80%), url("images/candidates/10.jpg") center center;
    background-size: cover;
}
.candidates-container .eleven {
    background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.95) 80%), url("images/candidates/11.jpg") center center;
    background-size: cover;
}
.candidates-container .twelve {
    background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.95) 80%), url("images/candidates/12.jpg") center center;
    background-size: cover;
}
.candidates-container .thirteen {
    background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.95) 80%), url("images/candidates/13.jpg") center center;
    background-size: cover;
}

/*
================================================
6. Dashboard Parties page
================================================
*/

.parties-container > div {
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    cursor: pointer;
    padding: 10px;
    transition: all .3s ease;
}
.parties-container > div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,.9) 20%, rgba(0,0,0,0));
    transition: all .3s ease
}
.parties-container > div:hover::before {
    background: linear-gradient(rgba(0,0,0,.85) 50%, rgba(0,0,0,0));
}
.parties-container > div p {
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    z-index: 9;
}
.btn.sec {
    border: 1px solid #fff;
    color: #fff;
    z-index: 9;
    margin-top: 10px;
    visibility: hidden;
    font-size: 20px;
    transition: visibility .5 ease;
}
.parties-container > div p.desc {
    width: 120px;
    font-size: 16px;
    color: #fff;
    max-height: 0;
    transition: all .3s ease;
    overflow-y: hidden;
}
.parties-container > div:hover p.desc {
    max-height: 200px;
}
.parties-container > div:hover .btn.sec {
    visibility: visible;
}
.parties-container > div:hover .btn.sec:hover {
    background: #333;
}
.parties-container > div:hover {
    box-shadow: 1px 5px 15px rgba(0,0,0,.5);
    margin-top: -5px;
}
.parties-container .one  {
    background: url("images/parties/01.jpg") center center;
    background-size: cover;
}
.parties-container  .two {
    background: url("images/parties/02.jpg") center center;
    background-size: cover;
}
.parties-container  .three{
    background: url("images/parties/03.jpg") center center;
    background-size: cover;
}
.parties-container  .four {
    background: url("images/parties/04.jpg") center center;
    background-size: cover;
}
.parties-container  .five {
    background: url("images/parties/05.jpg") center center;
    background-size: cover;
}
.parties-container  .six {
    background: url("images/parties/06.jpg") center center;
    background-size: cover;
}
.parties-container .seven {
    background: url("images/parties/07.jpg") center center;
    background-size: cover;
}
.parties-container .eight {
    background: url("images/parties/08.jpg") center center;
    background-size: cover;
}
.parties-container .nine {
    background: url("images/parties/08.jpg") center center;
    background-size: cover;
}
.parties-container .ten {
    background: url("images/parties/01.jpg") center center;
    background-size: cover;
}
.parties-container .eleven {
    background: url("images/parties/02.jpg") center center;
    background-size: cover;
}

/*
================================================
7. Dashboard Offices page
================================================
*/
.offices-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;  /*position set to relative so we can use the pseudo elements*/
    box-shadow: 1px 1px 5px rgba(0,0,0,.4);
    cursor: pointer;
    padding: 10px;
    transition: all .3s ease;
    text-align: center;
}
.offices-container > div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #003471;
    height: 3px;
    width: 5px;
    transition: all .3s ease
}
.offices-container > div:hover:before {
    width: 80%;
}
.offices-container > div::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background: #003471;
    height: 3px;
    width: 5px;
    transition: all .7s ease
}
.offices-container > div:hover:after {
    width: 80%;
}
.offices-container > div p {
    font-size: 38px;
    font-weight: bold;
    z-index: 9;
}
@media (max-width: 768px) {
    .offices-container > div p {
        font-size: 22px;
    }
}
.offices-container > div p.desc {
    font-size: 12px;
    max-height: 0;
    border-top: 1px solid #777 ;
    transition: all 5s linear;
    overflow-y: hidden;
}
.offices-container > div p.desc-top {
    font-size: 14px;
    transition: all .5s ease;
    overflow-y: hidden;
}
.offices-container > div:hover p.desc {
    max-height: 200px;
}
.offices-container > div:hover {
    box-shadow: 1px 5px 3px 3px rgba(0,0,0,.3);
    margin-top: -5px;
}

/*
================================================
8. Dashboard Results page
================================================
*/
.mdb-content .results p {
    font-size: 18px;
    line-height: 1.5;
}