/*
================================================
/* Table of Content
================================================
1. General styles
2. Header Styles
3. Carousel
4. Login / Signup
5. Introductory section

/*
================================================
1. General Styles
================================================
*/

@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    width: 100%;
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    font-family: "Poppins", sans-serif;
    background: #ddd;
    color: #777;
    font-size: 14px;
    overflow-x: hidden;
    position: relative;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
a {
    background-color: transparent; 
    -webkit-text-decoration-skip: objects; 
}
img {
    border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; 
}
textarea {
    overflow: auto;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	margin-top: 0;
	text-transform: none;
}
h1{
font-size:40px;
}
h2{
font-size:35px;
}
h3{
font-size:24px;
}
h4 {
  font-size: 20px;
}
h5 {
    font-size: 18px;
}
h6{
font-size:16px;
}
p{
font-size:13px;
}
ul,li{
	list-style:none;
	padding:0;
	margin:0;
}
a, a:hover, a:active, a:focus {
	outline: none;
	border: none;	
	text-decoration:none;
}
a {
        color:#333;
	transition: all 0.3s ease 0s;
}
a:focus, a:hover {
    color:#003471;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.wrap {
    position: relative;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
/*
================================================
2. Header Styles
================================================
*/
header.front {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
	z-index: 99;
}

/*---- top header ----*/

header.front .top-header .inner{
    position: relative;
    height: 100vh;
    width: 100%;
    align-items: center;
}
header.front .top-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background: rgba(0,52,103,.5);
}
header.front .top-header ul {
    display: flex;
    justify-content: flex-end;
}
header.front .top-header ul a{
    font-size: 18px;
    padding: 10px;
    color: #ddd;
    cursor: pointer;
}
.log-in-link {
    border-right: 1px solid #ddd;
}

/*---- bottom header ----*/

header.front .bottom-header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background: rgba(0,52,103,.5);
}
header.front .bottom-header .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header.front .bottom-header  .logo h2{
    border: 2px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    color: #ddd;
}
header.front .bottom-header ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 70px;
    background: rgba(0,52,103,.5);
    max-width: 0;
    overflow: hidden;
    transition: all 2s ease;
}
header.front .bottom-header ul.show {
    max-width: 200px;
}
header.front .bottom-header ul a{
    padding: 10px;
    color: #dddddd;
    text-align: right;
    font-size: 16px;
}
header.front .bottom-header ul li{
    text-align: right;
    padding: 10px 15px;
}
header.front .bottom-header .box {
    height: 35px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #dddddd;
    padding: 5px;
    cursor: pointer;
}
header.front .bottom-header .box div{
    height: 3px;
    width: 100%;
    background: #dddddd;
}

/*---- bottom header - large screens ----*/

@media (min-width: 768px) {
    header.front .bottom-header ul {
        max-width: unset;
        flex-direction: row;
        margin-bottom: 5px;
        background: transparent;
    }
    header.front .bottom-header .box {
        display: none;
    }
}

/*
================================================
3. Carousel
================================================
*/
.main-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.carousel {
    height: 100vh;
}
.inner-carousel {
    height: 100%;
}
.bg-one {
    height: 100%;
    width: 100%;
    background: url("images/slider_bg.jpg") fixed;
    background-size: cover;
}


/*
================================================
3. Login / Signup
================================================
*/
.modal-box {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    z-index: 304;
    display: none;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    padding: 50px;
}
.modal-box::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    height: 100vh;
    background: rgba(0,0,0,.8);
}
.mdb-content {
    width: 100%;
    height: auto;
    background: rgba(255,255,255,.5);
    position: relative;
    padding: 30px;
    border-radius: 10px;
}
@media (min-width: 600px) {
    .mdb-content {
        width: 40%;
        padding: 50px;
        border-radius: 10px;
    }
}

.modal-box.login.show {
    display: flex;
}
.modal-box.login.show {
    display: flex;
}
/*---- forms  ----*/

.mdb-content {
    color: #003471;
}
.mdb-content h2 {
    margin-bottom: 50px;
    text-align: center;
    border-bottom: 1px solid #003471;
}
.close-button {
    float: right;
    cursor: pointer;
    font-size: 60px;
    text-shadow: white 1px 1px 15px;
    line-height: 1.5rem;
    width: 1.5rem;
    border-radius: 5px;
    padding: 15px;
    margin: -55px -58px 0 0;
    transition: all .5s ease;
}
.close-button:hover {
    font-size: 100px;
    margin: -55px -29px 0 0;
}
@media (min-width: 600px) {
    .close-button {
        margin: -75px -50px 0 0;
    }
    .close-button:hover {
        font-size: 100px;
        margin: -79px -88px 0 0;
    }
}
form {
    width: 100% ;
}
form .extra-info {
    margin: 20px 0 0 0;
}
form .extra-info p {
    color: #fff;
    margin-bottom: 5px;
}
form .extra-info p a {
    color: #003471;
    font-weight: bold;
}
input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 50px 0 0 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.signup .two {
    display: none;
}

input[type=submit]:hover {
    background-color: #45a049;
}
/*
================================================
5. Introductory section
================================================
*/
.intro {
    height: 100vh;
}